body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
